<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-2">
    </div>
    <aside class="col-md-8">
      <section class="user_info">
        <%= render 'users/shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'users/shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-2">
    </div>
  </div>
<% end %>
