<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "利用規約", policy_path, class:'link' %></li>
      <li><%= link_to "Contact", contact_path, class:'link' %></li>
    </ul>
  </nav>
</footer>
