<% provide(:title, "Signup") %>
<div class='signup'>
  <h3>Signup</h3>
  <%= render "users/shared/loginform" %>
  </br>
  <%= link_to "利用規約", policy_path, class:'link-top' %></br>
  <%= render "users/shared/links" %>
</div>
